div.container {
    display: flex;
    flex-direction: column;
    flex: 50%;
}

div.flexitem {
    
} 

div.boxes {
    display: flex;
    flex-direction: row;
}

div.contents {
    display: flex;
    flex-direction: row;
}

div.box-and-contents-container{
    margin: 20px 20px 20px 20px;
}