@inherits LayoutComponentBase

<div class="page cover-container h-100 ">
    <div class="page-item">
        <MicroBoxer.Web.Components.Common.AppHeader />
    </div>
    <div class="page-item">
        @Body
    </div>
</div>

@* 
<MudThemeProvider />
<MudPopoverProvider />
<MudSnackbarProvider />
<MudDialogProvider />
*@



<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
