@page "/user/boxes"
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Components.Authorization
@using MicroBoxer.Web.Services.ViewModel
@using MicroBoxer.Web.Extensions
@using MicroBoxer.Web.Services
@inject NavigationManager Nav
@inject BoxesService boxesService
@inject BoxesNotificationService boxesNotificationService
@inject UserBoxesState userBoxesState

<AuthorizeView>
    <Authorized>
        <MainOptionsHeader actionResult="MenuActionHandler" />
        <div class="row boxlist h-100 py-5">
            <div class="container">
            @foreach(var box in BoxList)
            {
                    <div class="boxitem">
                        <MicroBoxer.Web.Components.Box.BoxComponent Box="@box" />
                    </div>
            }
            </div>
        </div>
        <MicroBoxer.Web.Components.Pages.User.BoxesRefreshOnChange RefreshRequest="RefreshBoxes" />
    </Authorized>
    <NotAuthorized>
        <p>Unauthorized</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    public List<Box> BoxList { get; set; } = new List<Box>();

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
    }
    protected override async Task OnInitializedAsync()
    {
        await GetBoxes();
    }
    public async Task GetBoxes()
    {
        var result = await userBoxesState.GetBoxesAsync();
        var boxes = result.ToList();
        BoxList = new List<Box>();
        foreach (var box in boxes)
        {

            BoxList.Add(await box.FromRecord());
        }
    }
    private async Task RefreshBoxes()
    {
        Nav.Refresh(true);
        //await GetBoxes();

    }
    public async Task CreateBox()
    {
        await userBoxesState.CreateBoxAsync(Guid.NewGuid(), "BoxName");
    }
    public async Task MenuActionHandler(string action)
    {
        switch (action)
        {
            case "ReturnClicked":
                break;
            case "AddClicked":
                await CreateBox();
                break;
            case "ScanClicked":
                
                break;
        }

    }
}
