div.single-box {
    display: flex;
    flex-direction: row;
    background-color: saddlebrown;
    margin: 20px 20px 20px 20px;
}

div.box-item {
    display: flex;
    flex-direction: column;
}

div.box-editable {
    display: flex;
    flex-direction: column;
}
input {
    width: 400px;
}